#User requirements for the project

#for data analysis
numpy
pandas

#for face recognition 
scikit-learn
dlib-bin
git+https://github.com/ageitgey/face_recognition_models
setuptools<70.0.0

#for database
supabase
bcrypt

#for QR code generation
segno
pillow

#for web app
streamlit

#for audio processing
resemblyzer
librosa
